.about-me {
  padding: 4rem 0.8rem;
}

.grid-about-me {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 0.8rem;
}

.row {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.row-reverse {
  flex-direction: row-reverse;
}

.text {
  flex: 1;
}

.image-about-me {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-about-me img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 480px) {
  .row {
    flex-direction: column;
    text-align: center;
  }

  .row-reverse {
    flex-direction: column; /* Stack on smaller screens */
  }

  .text {
    margin-bottom: 2rem;
  }
}
