* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bs-body-color: #2c2c2c;
  --bs-body-bg: #f6e9ed;
  --bs-body-font-family: "Roboto", serif;
  --bs-accent-color: #a61e4d; /* Bordeaux */
  --bs-accent-color-shade-01: #85183e; /* Bordeaux */
  --bs-accent-color-tint-01: #b84b71; /* Bordeaux */
  --bs-secondary-text: #595959;
}

html {
  font-size: 67.5%; /* Increased base font size for better scaling */
}

body {
  font-family: var(--bs-body-font-family);
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}

hr {
  margin-top: 12rem;
  border: 0;
  border-top: 0.5px solid;
  z-index: 0;
}

hr:first-of-type {
  margin-top: 30rem;
}

input,
textarea {
  border: none;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.6rem rgba(89, 89, 89, 0.7);
}

.h1-title {
  font-size: 3.6rem;
  color: var(--bs-accent-color-tint-01);
}

.h2-title {
  font-size: 3.6rem;
  color: var(--bs-accent-color);
  text-align: center;
  margin-bottom: 3rem;
}

.h3-title {
  font-size: 2.4rem;
  color: var(--bs-accent-color);
  margin-bottom: 1rem;
}

.description {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
  color: var(--bs-secondary-text);
}

/******************************************************************************/
/* BELOW 480px  */
/******************************************************************************/
@media (max-width: 30em) {
  .h1-title {
    font-size: 2.4rem;
  }

  .h2-title {
    font-size: 2.8rem;
  }
  .h3-title {
    font-size: 1.8rem;
  }

  .description {
    font-size: 1.6rem;
  }
}
